<!--
  Copyright (c) 2011-2019 Software AG, Darmstadt, Germany and/or Software AG USA Inc., Reston, VA, USA, and/or its subsidiaries and/or its affiliates and/or their licensors.
  Use, reproduction, transfer, publication or disclosure is prohibited except as specifically provided for in your License Agreement with Software AG.
  -->

<configuration>

  <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%15.15t] %-40.40logger{39}: %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%ex{full}}}"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

  <!--<logger name="com.terracottatech.management" level="TRACE"/>-->
  <!--<logger name="org.terracotta.management" level="TRACE"/>-->
  <!--<logger name="org.ehcache.clustered.server.management" level="TRACE"/>-->
  <!--<logger name="org.terracotta.offheapresource" level="TRACE"/>-->

  <logger name="org.terracotta.console" level="INFO">
    <appender-ref ref="STDOUT" />
  </logger>
</configuration>
